
//==========  Links ==========//

a {
    @apply text-purple-900 no-underline;

    transition: 0.25s all ease-out;

    &:not([class]) {
        border-bottom-width: 2px;
        border-color: #66cccc;

        &:hover {
            @apply text-teal-500;
        }
    }

    &.mobile img {
        display: inline;
        margin: 5px;
    }
}


