
//==========  Siderbar  ==========//

#sidebar {
  width: 100%;
  
  .content {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 35px;
  }

  @media (min-width: 768px) {
    min-width: 180px;
    max-width: 260px;
  }

  .md\:fixed {
    width: inherit;
  }

  .avatar {
    display: inline-block;
    background-image: url('/images/meta/me.jpg');
    @apply bg-gray-400 rounded-full bg-center bg-no-repeat bg-cover;
  }

  h2 {
    @apply my-4;
  }

  p {
    @apply mb-8 font-light leading-snug text-gray-600;
  }
}