
//==========  Typography ==========//

// headings
h1, h2, h3 {
    @apply font-bold leading-tight mt-0 mb-6 text-purple-900;
}

h2 {
  @apply text-2xl;
}

.page-title {
  @apply text-5xl;
}

// content
.content {

  // paragraph
  p {
    @apply mb-8;

        // intro paragraph
    &:first-child {
      @apply border-b border-gray-200 text-2xl pb-10 mb-10 font-light leading-snug text-gray-600;

      @screen md {
                @apply text-3xl;
            }
    }
    }
}

// content breakers
.divider {
  @apply border-b border-gray-200 text-2xl mb-10 font-light leading-snug text-gray-600;

  @media (min-width: 768px) {
    @apply border-r pb-10;
  }
}

.separator {
  @apply border-b border-gray-200 text-2xl pb-10 mb-10 font-light leading-snug text-gray-600;
}

pre {
  max-width: 600px;
  overflow-x: scroll;
  background-color: #35495e;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 30px;
  
  code {
    padding: 0;
    margin: 0;
    line-height: normal;
  }
}

code {
  background-color: #35495e;
  color: #f6f4e6;
  padding: 4px 6px;
  margin: 2px;
  line-height: 2rem;
  border-radius: 5px;
}

img ~ em {
  color: #718096;
  font-size: 1rem;
  margin-top: 0.8rem;
  display: block;
  text-align: center;
}