
//==========  Typography ==========//

// headings
h1, h2, h3 {
    @apply font-bold leading-tight mt-0 mb-6 text-purple-900;
}

h2 {
  @apply text-2xl;
}

.page-title {
  @apply text-5xl;
}

// content
.content {

  // paragraph
  p {
    @apply mb-8;

        // intro paragraph
    &:first-child {
      @apply border-b border-gray-200 text-2xl pb-10 mb-10 font-light leading-snug text-gray-600;

      @screen md {
                @apply text-3xl;
            }
    }
    }
}

// content breakers
.divider {
  @apply border-r border-gray-200 text-2xl pb-10 mb-10 font-light leading-snug text-gray-600;
}

.separator {
  @apply border-b border-gray-200 text-2xl pb-10 mb-10 font-light leading-snug text-gray-600;
}

// sidebar stuff
#sidebar {
  width: 180px;

  .fixed {
    width: inherit;
  }

  .avatar {
    display: inline-block;
    background-image: url('/images/meta/me.jpg');
    @apply bg-gray-400 rounded-full bg-center bg-no-repeat bg-cover;
  }

  h2 {
    @apply my-4;
  }

  p {
    @apply mb-8 font-light leading-snug text-gray-600;
  }
}
