---
layout: default
meta_title: Home
meta_description: Personal site of Robert Shenton
body_class: home
title: Hey friend!
subtitle: Below you'll find a collection of my efforts. The writings of a genius or ramblings of a raved lunatic? You decide.
---

<main id="main" class="main inner flex flex-1 flex-col md:flex-row justify-around py-10 lg:py-20 focus:outline-none" tabindex="-1">

    {% include "components/sidebar.njk" %}

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

            <p>{{ subtitle }}</p>

            <h2 class="text-3xl">Things I've worked on</h2>


            <div class="items">

                {% for item in collections.project %}

                    {% if item.data.hidden != true %}

                    <a href="{{ item.url }}"><item style="background-image: url('{{ item.data.icon }}')"></item></a>

                    {% endif %}

                {% endfor %}

            </div>

            <div class="separator"></div>

            <h2 class="text-3xl">Musings</h2>

            <ol>

                {% for post in collections.blog %}

                <li class="mb-1"><a href="{{ post.url }}">{{ post.data.date | htmlDateDisplay + ' — ' + post.data.title }}</a></li>

                {% endfor %}

            </ol>

        </div>

    </section>

</main>


