---
layout: default
---

<main id="main" class="main inner flex flex-1 flex-row justify-around py-10 lg:py-20 focus:outline-none" tabindex="-1">

    {% include "components/sidebar.njk" %}

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

            <p>{{ caption }}</p>

            {{ content | safe }}

        </div>

    </section>

</main>


